html, body {
  height: 100%;
  margin: 5px;
  padding: 0;
  min-width: 900px;
}

h1 {
    margin: 5px;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    vertical-align:middle;
    margin-top:10px;
    margin-bottom: :30px;
}
table tr:nth-child(odd)	{
    background-color: #f1f1f1;
    text-align: center;
    vertical-align:middle;
}
table tr:nth-child(even) {
    background-color: #ffffff;
    text-align: center;
    vertical-align:middle;
}

.span-tag{
    margin-left:5px;
}
.div-inline1{
    display:inline;
}
.div-inline2{
    display:inline;
    margin-right: 20px;
}
.div-inline3{
    display:inline;
    float:right;
}
.div-table{
    width: 200px;
    /*float:right;*/
    position:absolute;
    top:100px;
    right:80px;
}

.div-height{
  height: 500px;
}

.mtable{
  margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

#tottleTable:hover{
  cursor: move;
}

.displayNone{
  display: none;
}

.imgFloat{
  float: left;
  margin-right: 15px;
  width: 128px;
}
.imgWhenHide{
  width: 64px;
}

.imgItemFloat{
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 45px;
}

.whiteCover{
  opacity:0.25;
  -mox-opacity:0.25;
  filter:alpha(opacity=25);
}


a:hover img{
  opacity:0;
  -mox-opacity:0;
  filter:alpha(opacity=0);
}

a img{
  opacity:1;
  -mox-opacity:1;
  filter:alpha(opacity=1);
}

.nonFloat{
  float: none;
}

.svt-panel {
	margin-bottom: 15px;
}

.svt-panel .ascension-table label {
	font-size: 12px;
}

.table-group {
	white-space: nowrap;
	text-align: center;
}

.table-group > div {
	display: inline-block;
	vertical-align: top;
}

.item-search-svt > img {
	display: block;
	float: none;
	margin: 0 auto;
}

.item-search-svt table {
	margin-top: 0;
}

.item-search-svt table td {
	white-space: nowrap;
}

#_itemSide {
	display: flex;
	flex-wrap: wrap;
}

#_itemSide > div {
	margin-bottom: 30px;
}
